.content-box{

}

.show-hide-div{
    display: flex;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.show-hide-div p{

    font-family: Arial, Helvetica, sans-serif;
}


/* arrow */
.show-hide-div span{
    transition: 0.14s linear transform;

}
.content-box-arrow-hidden{
    transform: none;

}
.content-box-arrow-shown{
    transform: rotate(-90deg);
    
}

/* actual content box */
.content-box-content{
    width: 550px;
    background-color: rgba(255, 0, 0, 0.109);
    transition: max-height 0.15s ease;
}
.content-hidden{
    max-height: 0px;
    overflow: hidden;
}

.content-shown{
    max-height: 200px;
}